# Target Config
CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y
CONFIG_VMDK_IMAGES=y
# CONFIG_OPENVPN_openssl_ENABLE_DEF_AUTH is not set
# CONFIG_OPENVPN_openssl_ENABLE_FRAGMENT is not set
# CONFIG_OPENVPN_openssl_ENABLE_LZ4 is not set
# CONFIG_OPENVPN_openssl_ENABLE_LZO is not set
# CONFIG_OPENVPN_openssl_ENABLE_MULTIHOME is not set
# CONFIG_OPENVPN_openssl_ENABLE_PF is not set
# CONFIG_OPENVPN_openssl_ENABLE_PORT_SHARE is not set
# CONFIG_OPENVPN_openssl_ENABLE_SMALL is not set

#lede默认luci-app


#新增luci-app
# CONFIG_PACKAGE_luci-app-adguardhome is not set
CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_luci-app-socat=y

#新增Themes
CONFIG_PACKAGE_luci-theme-rosy=y

# Ipv6 Support
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_ip6tables=y
CONFIG_PACKAGE_ip6tables-extra=y
CONFIG_PACKAGE_ip6tables-mod-nat=y

#科学上网


